@font-face {
    font-family: NB;
    src: url(NBInternationalProBoo.ttf);
}
@font-face {
    font-family: Re;
    src: url(Rejouice-Headline.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#page-1{
    height: 100vh;
    width: 100%;
    background-color: white;
    font-family: 'NB';
}
#navbar-section{
    padding: 2.9vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar-section h2{
    font-weight: 200;
}
#main-contents-div{
    height: 90vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 3vw;
}
#left-contents p{
    font-size: 4.2vw;
}
#right-contents h4{
    font-size: 2vw;
    font-family: 'NB';
    font-weight: 200;
    margin-top: 8px;
}

#page-2{
    min-height: 100vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#image-1-div img{
    height: 120vh;
    width: 97%;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: all 0.3s linear;
}
#image-1-div h1{
    font-family: 'NB';
    font-size: 5vw;
}
#image-2-div img{
    height: 120vh;
    width: 97%;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: all 0.3s linear;
}
#image-2-div h1{
    font-family: 'NB';
    font-size: 5vw;
}
#page-3{
    height: 100vh;
    width: 100%;
    /* background-color: red; */
}
#page-3 video{
    margin-top: 5vw;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#page-4{
    height: 100vh;
    width: 100%;
    /* background-color: orange; */
}
#footer-part{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: #fff;
}
#footer-part-1{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 1.5vw;
    font-family: 'NB';
    /* background-color: orange; */
}

#left-part button{
    padding: 1.3vw 1.3vw;
    font-size: 1vw;
    border-radius: 25px;
    background-color: white;
    margin-top: 20px;
    border: 2px solid;
}
#left-part button:hover{
    background-color: black;
    color: #fff;
    cursor: pointer;
}
#right-part{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5vw 2vw;
}
#right-ul{
    margin-right: 20px;
}
#footer-part-2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#footer-part-2 span{
    font-family: 'Re';
    font-size: 24vw;
    font-weight: 600;
    display: inline-block;
    color: #fff;
    transform: translateY(-400px);
    opacity: 0;
}